@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans'), local('NotoSans'), url(Noto-Sans.ttf) format('truetype');
}

/* color definitions */
.iconred {
    color: #da4453;
}
.plasmablue {
    color: #3daee9;
}
.noblefir {
    color: #27ae60;
}

body {
    font-family: "Noto Sans","Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    color: #232629;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    margin-top: 0;
    font-weight: 700;
    font-family: "Noto Sans", "Helvetica Neue", Arial, sans-serif;
}

p, ul > li, a {
    font-size: 14px;
}

a.reference, a:visited {
    color: #2980b9;
}

a.icon {
    color: #fcfcfc;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.flex > * {
    margin-right: 18px;
    max-width: 340px;
}

.flex > *:last-child {
    margin-right: 0;
}

.wy-nav-side {
    background-color: #eff0f1 !important;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
}

.wy-side-nav-search {
    background-color: #27ae60 !important;
}

.wy-side-nav-search .icon-home:before {
    vertical-align: middle;
    font-size: 350%;
    display: "block";
}

.wy-side-nav-search > div.version {
    color: rgba(255,255,255,0.7);
}

.wy-nav-content {
    margin: 0 auto;
    max-width: 800px;
}

.wy-nav-content-wrap {
    background-color: #fcfcfc;
}

.wy-menu-vertical a {
    color: #232629;
}

.wy-menu-vertical .current a {
    color: #232629;
}

.wy-menu-vertical a:hover {
    background-color: #93cee9;
    cursor: pointer;
}

.wy-menu-vertical li.toctree-l2 > a:hover {
    background: #93cee9;
}

.wy-menu-vertical li.toctree-l2.current > a {
    background-color: #fcfcfc;
    color: #232629;
}

.wy-menu-vertical li a.current:last-of-type {
    background: #3daee9;
    color: #fcfcfc;
}

.wy-menu-vertical li.current a {
    color: #232629;
    border-top: none;
    border-bottom: none;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3.current > a {
    background: #3daee9;
    color: #fcfcfc;
}

.wy-menu-vertical li.toctree-l2 li.toctree-l3 > a:hover {
    background: #93cee9;
}

.admonition {
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,.17);
}

.admonition.caution .admonition-title {
    background-color: #fdbc4b;
}
.admonition.hint .admonition-title {
    background-color: #27ae60;
}

.btn, input.searchbtn[type="submit"] {
    background-color: #eff0f1 !important;
    background-image: linear-gradient(to bottom, #f2f2f3, #e8e9ea);
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(35,38,39,.1);
    border-color: #bdc3c7;
    border-radius: 3px;
    border-width: 1px;
    padding: 8px;
    transition: all .1s linear;
    outline: 0;
    border-style: solid;
}
.btn:hover, input.searchbtn[type="submit"]:hover {
    border-color: #93cee9;
    background-color: #eff0f1 !important;
    outline: 0;
}
.btn:active, input.searchbtn[type="submit"]:active {
    background-image: linear-gradient(to bottom, #9cd2eb, #76c1e3);
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(35,38,39,.1);
    padding: 8px;
    transform: translate(1px,1px);
    outline: 0;
}
.btn:focus:not(:active), input.searchbtn[type="submit"]:focus:not(:active) {
    color: #fcfcfc !important;
    border-color: #3daee9;
    background-image: linear-gradient(to bottom, #45b1ea, #25a4e6);
    outline: 0;
}


[itemprop='articleBody'] {
    position: relative;
}

.intend {
    position: absolute;
    top: 0;
    right: 0;
    color: #7f8c8d;
}

@media (max-width: 950px) {
    .intend {
        position: static;
    }
}
.intend p:before {
    content: "For "
}

.intend a + a:before {
    content: " and ";
    color: #7f8c8d;
}

.available {
    color: #da4453;
}

.border img {
    border: 1px solid #bdc3c7;
}

.available.qwidgets:before {
    content: 'Not available for qWidgets'
}

.available.plasma:before {
    content: 'Not available for Plasma'
}

.available.plasma.qwidgets:before {
    content: 'Not available for Plasma and qWidgets'
}

@font-face {
    font-family:"icons";
    src:url("icons.eot?842739648e48d469142df14af06c1a3c");
    src:url("icons.eot?#iefix") format("embedded-opentype"),
        url("icons.woff2?842739648e48d469142df14af06c1a3c") format("woff2"),
        url("icons.woff?842739648e48d469142df14af06c1a3c") format("woff"),
        url("icons.ttf?842739648e48d469142df14af06c1a3c") format("truetype"),
        url("icons.svg?842739648e48d469142df14af06c1a3c#icons") format("svg");
    font-weight:normal;
    font-style:normal;
}

.fa-arrow-circle-left:before {
    font-family:"icons";
    content:"\f101";
}

.fa-arrow-circle-right:before {
    font-family:"icons";
    content:"\f102";
}

.icon-home:before {
    font-family:"icons";
    content:"\f104";
}
.wy-nav-top {
    background-color: #27ae60;
}
.wy-nav-top a:visited {
    color: #fcfcfc;
}

/*
 * Add more spacing and a 1px seperator between sections */
div[itemprop="articleBody"] .section:not(:first-of-type) {
    margin-top: 20px;
    padding-top: 20px;
}

div[itemprop="articleBody"] > .section > .section:not(:first-of-type) {
    border-top: 1px solid #bdc3c7;
    margin-top: 30px;
    padding-top: 30px;
}

/* Increase font sized to have more visual difference */
h1 {
    font-size: 300%;
    margin-bottom: 8px;
    font-weight: normal;
}
h2 {
    font-size: 240%;
    margin-bottom: 8px;
    font-weight: normal;
}
h3 {
    font-size: 180%;
    margin-bottom: 8px;
    font-weight: normal;
}
h4 {
    font-size: 140%;
    margin-bottom: 8px;
    font-weight: normal;
}
h5 {
    font-size: 120%;
    margin-bottom: 10px;
    font-weight: normal;
}

.rst-content img, video, audio {
    height: auto !important;
    max-width: 100%;
}
.do *, .dont * {
    font-style: normal;
}
.do img, .dont img {
    display: block;
    margin: 0 auto;
}
.dont .caption {
    margin-top: 7.5px;
    border: 2px solid #da4453;
    background-color: rgba(218, 68, 83, 0.2);
    border-radius: 4px;
    padding: 10px;
}
.do .caption {
    margin-top: 7.5px;
    border: 2px solid #27ae60;
    background-color: rgba(39, 174, 96, 0.2);
    border-radius: 4px;
    padding: 10px;
}
.dont .iconred, .do .noblefir {
    font-weight: bold;
}
.flex.docutils.container {
    margin: 0 auto;
    justify-content: center;
}
.wy-breadcrumbs li a:first-child {
    padding-left: 5px;
}
.wy-breadcrumbs li span:first-child {
    padding: 5px;
}
ul.wy-breadcrumbs > li, ul.wy-breadcrumbs a {
    font-size: 15pt;
}
li.wy-breadcrumbs-aside {
    margin-left: auto;
}
li.wy-breadcrumbs-aside > a {
    font-size: 14px;
}
@media screen and (max-width: 768px) {
    ul.wy-breadcrumbs > li, ul.wy-breadcrumbs a {
        font-size: 14px;
    }
}
.wy-menu-vertical a {
    font-size: 10pt;
}
span.toctree-expand {
    vertical-align: middle;
}
span.toctree-expand::before {
    content: "" !important;
    background-image: url("go-next.svg");
    height: 14px;
    width: 14px;
    vertical-align: middle;
}
a.current span.toctree-expand::before {
    filter: brightness(500);
}
.breeze-icon {
    height: 16px;
    width: 16px;
}
.rst-content div[role=navigation] ul {
    display: flex;
    align-items: center;
}
.wy-side-nav-search input[type="text"] {
    min-height: 30px;
    border-radius: 3px;
    border: 1px solid #bcbebf;
    box-shadow: none;
    font-size: 10pt;
    width: 90%;
}
.wy-side-nav-search input[type="text"]:focus {
    border: 1px solid #3dade9;
}
input + input.searchbtn[type="submit"] {
    width: 30px;
    height: 30px;
    background-image: url("edit-find.svg"); 
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
}
input + input.searchbtn[type="submit"]:focus:not(:active) {
    background-color: #3daee9 !important;
    background-image: url("edit-find-dark.svg"); 
}
input + input.searchbtn[type="submit"]:active {
    background-color: #76c1e3 !important;
    background-image: url("edit-find.svg"); 
}
.wy-side-nav-search input[type="text"] + input.searchbtn {
    margin-left: 3px;
}
#rtd-search-form {
    display: flex;
    justify-content: center;
}
